<% include ./partials/header %>

  <head>
    <style>
      body {
        margin: 100px 115px;
      }
      #display {
        float: left;
        margin-left: 5px;
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
      }
      img {
        height: 290;
        width: 290;
      }
      #delete {
        display: inline;
      }

    </style>
  </head>

  <% apps.forEach(function(app){ %>
    <div id="display" class="ui link cards">
    <div class="card">
      <div class="image">
        <img src= "<%= app.logo %>" width="290" height="290">
      </div>
      <div class="content">
        <div class="header"><%= app.position %></div>
        <div class="meta">
          <a><%= app.date %></a>
        </div>
        <div class="description">
          <%= app.description.substring(0,40) %>
        </div>
      </div>
      <div class="extra content">
        <a href="/new/int" class="ui green basic button">INT</a>
        <a href="/application/<%= app._id %>/edit" class="ui blue basic button">EDIT</a>
        <form id="delete" action="/application/<%= app._id %>?_method=DELETE" method="POST" >
         <button class="ui red basic button">DELETE</button>
        </form>
      </div>
    </div>
  </div>
<% }) %>

  <% include ./partials/footer %>
