<% include ../partials/header %>
<head>
  <style>
    #mainform {
      margin-top: 100px;
    }
  </style>
</head>

<div id="mainform" class="ui main text container segment">
  <div class="ui huge header">
    Edit Application
  </div>
  <form class="ui form" action="/application/<%=app._id %>?_method=PUT" method="POST">
    <div class="field">
      <label>Company</label>
      <input type="text" name="job[company]" value="<%= app.company %>">
    </div>
    <div class="field">
      <label>Company Logo</label>
      <input type="text" name="job[logo]" value="<%= app.logo %>">
    </div>
    <div class="field">
      <label>Position</label>
      <input type="text" name="job[position]" value="<%= app.position %>">
    </div>
    <div class="field">
      <label>Date Applied</label>
      <input type="text" name="job[date]" value="<%= app.date %>">
    </div>
    <div class="field">
      <label>Location</label>
      <input type="text" name="job[location]" value="<%= app.location %>">
    </div>
    <div class="field">
      <label>Job Board</label>
      <input type="text" name="job[jobBoard]" value="<%= app.jobBoard %>">
    </div>
    <div class="field">
      <label>Job Description</label>
      <textarea name="job[description]"><%= app.description %></textarea>
    </div>
    <input class="ui blue basic button" type="submit">
  </form>
</div>


<% include ../partials/footer %>
